@import '../../scss/base/mixin';
@import '../../scss/base/variables';

.qr-code {
    background-color: $white-color;
    padding: 10px;
    
    &__icon {
        min-width: 100%;
        height: 100%;
    }
}
